blinker
certifi
charset-normalizer
click
colorama
Flask
greenlet
gunicorn==23.0.0
idna
itsdangerous
Jinja2
MarkupSafe
mercadopago
numpy
packaging
pandas
pip
psycopg2
python-dateutil
python-dotenv
pytz
requests
setuptools
six
SQLAlchemy
typing_extensions
tzdata
urllib3
Werkzeug
wheel

